@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-whiteChocolate;
    @apply text-darkPuce;
  }
  h1 {
    font-size: clamp(1.5rem, 1.3929rem + 0.5357vw, 2.25rem);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    @apply font-serif;
    @apply uppercase;
  }
  h2 {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    @apply font-serif;
  }
  h3 {
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem;
    @apply font-serif;
  }
  p,
  body {
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.125rem;
    letter-spacing: -0.00625rem;
    @apply font-sans;
  }
}

.form-label {
  text-transform: uppercase;
}

/* * {
  outline: 0.0625rem solid red;
} */
