@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    font-size: clamp(1.5rem, 1.3929rem + 0.5357vw, 2.25rem);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.07031rem;
  }
  h2 {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.04688rem;
  }
  h3 {
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem;
    letter-spacing: -0.01563rem;
  }
  p,
  body {
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.125rem;
    letter-spacing: -0.00625rem;
  }
}

* {
  outline: 0.0625rem solid red;
}
